<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin - Users</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
        <link href="/css/admin.css" rel="stylesheet">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet">
        <style>
        .container-custom {
            padding: 2rem;
        }
        .toast-orange {
            background-color: #28a745;
            color: white;
        }
        </style>
    </head>
    <body style="margin-top: 140px;">
        <div th:replace="~{layouts/navbar/adminNavbar :: adminNavbar}"></div>

        <div class="container mt-5 container-custom">
            <h1 class="text-center">All Users</h1>

            <!-- User Table Fragment -->
            <div
                th:replace="~{pages/admin/fragments/userTable :: userTable}"></div>

            <div class="d-flex justify-content-center gap-3">
                <button class="btn btn-secondary mt-3"
                    onclick="window.location.href='/admin/dashboard'">Back to
                    Dashboard</button>
                <form th:action="@{/admin/users/unblockAll}"
                    method="post" style="display: inline-block;"
                    class="fix-status-form">
                    <button type="button" class="btn btn-warning mt-3"
                        onclick="showFixStatusModal()">UnBlock All
                        Users</button>
                </form>
            </div>
        </div>

        <!-- Toast Notifications Fragment -->
        <div
            th:replace="~{pages/admin/fragments/toastNotifications :: toastNotifications}"></div>

        <!-- User Modals Fragment -->
        <div
            th:replace="~{pages/admin/fragments/userModals :: userModals}"></div>

        <!-- Pass success message to JavaScript -->
        <script th:inline="javascript">
            window.successMessage = /*[[${success}]]*/ '';
        </script>

        <!-- External JavaScript -->
        <script th:src="@{/js/admin-users.js}"></script>
    </body>
</html>
