body {
  background-color: #f1f3f7;
}

.shopping-cart {
  margin-top: 140px;
}

.address-card {
  min-height: 150px;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  transition: box-shadow 0.2s ease;
  background-color: #fff;
}

.address-card:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none !important;
}
